/** @format */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arial", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  min-width: 320px;
  overflow: hidden;
  background-color: #f6f7f9;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  height: 100%;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  color: #fff;
  padding: 10px 14px;
  border-radius: 6px;
  transition: all ease-in-out 0.6s;
}

.red__button {
  background-color: #f81155;
}

.red__button:hover {
  background-color: #d1003e;
}

.button img {
  height: 10px;
  width: 10px;
  margin-left: 12px;
}

.blue__button {
  background-color: #005bfe;
}

.blue__button:hover {
  background-color: #0047c6;
}

.transparent__button {
  color: rgb(0, 91, 254);
}

.transparent__button:hover {
  background-color: rgba(0, 91, 254, 0.1);
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin-bottom: 56px;
}

.header {
  background-color: #fff;
  box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__button-contacts--wrapper, .header__person-wrapper {
  display: flex;
  align-items: center;
}
.header__button-contacts--wrapper svg path {
  transition: all ease-in-out 0.6s;
}
.header__button-contacts--wrapper:hover .header__button-contacts--text {
  color: #0047c6;
}
.header__button-contacts--wrapper:hover svg path {
  fill: #0047c6;
}
.header__button-contacts--text {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #005bfe;
  margin-left: 16px;
  transition: all ease-in-out 0.6s;
}
.header__person-wrapper .button.red__button {
  margin-right: 16px;
}

.aside {
  width: 312px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.6s;
  z-index: 200;
}
.aside::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.aside.active {
  opacity: 1;
  visibility: visible;
}
.aside__option {
  white-space: nowrap;
}
.aside__wrapper {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.aside__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 24px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0509803922);
}
.aside__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: #000;
}
.aside__close-button svg {
  transition: all ease-in-out 0.6s;
}
.aside__close-button:hover svg g rect {
  fill: #000;
  fill-opacity: 0.05;
}
.aside__categories-list--wrapper, .aside__user-form {
  flex: 1 0 auto;
  padding: 23px 24px 24px;
}
.aside__categories-list--wrapper {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
.aside__buttons-wrapper {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 23px 24px 24px;
}
.aside__category-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.aside__category-inner:last-child {
  margin-bottom: 0;
}
.aside__category-delete {
  cursor: pointer;
  transform: scale(1.18);
}
.aside__category-delete:hover rect {
  fill: #ea3d2f;
  opacity: 1;
  stroke: #ea3d2f;
}
.aside__category-delete:hover g path {
  fill: #fff;
  opacity: 1;
}
.aside__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}
.aside__input {
  outline: none;
  border: none;
  padding: 11px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #000;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.0509803922);
}
.aside__dropdown {
  position: relative;
}
.aside__select {
  outline: none;
  border: none;
  padding: 11px 35px 12px 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: rgba(0, 0, 0, 0.3137254902);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  max-width: 100%;
  width: 100%;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: left;
  position: relative;
}
.aside__select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  height: 24px;
  width: 24px;
  transform: translateY(-50%) rotate(0deg);
  display: block;
  pointer-events: none;
  background-image: url("../images/icons/Keyboard arrow right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all ease 0.4s;
}
.aside__select.active::before {
  transform: translateY(-50%) rotate(180deg);
}
.aside__list {
  display: none;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.0509803922);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100%;
  left: 0;
  top: 38px;
  position: absolute;
  z-index: 10;
}
.aside__list.visible {
  display: block;
}
.aside__list-item {
  padding: 11px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: rgba(0, 0, 0, 0.3137254902);
  cursor: pointer;
  transition: all ease 0.4s;
}
.aside__list-item:hover {
  background-color: rgba(0, 91, 254, 0.3137254902);
}
.aside__input-hidden {
  display: none;
}
.aside__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3137254902);
}
.aside__input::placeholder {
  color: rgba(0, 0, 0, 0.3137254902);
}
.aside__category-message {
  background-color: transparent;
  text-align: center;
}
.aside__category-name {
  display: block;
  width: 100%;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  color: #000;
  padding: 11px 12px;
  background-color: rgba(0, 0, 0, 0.0509803922);
  border-radius: 6px;
  height: 38px;
  outline: none;
  border: none;
}
.aside__category-name::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3137254902);
}
.aside__category-name::placeholder {
  color: rgba(0, 0, 0, 0.3137254902);
}

.accordion {
  width: 100%;
  border-radius: 6px;
}
.accordion__container {
  margin-top: 126px;
  height: calc(100vh - 200px);
  overflow-y: auto;
}
.accordion-item + .accordion-item {
  margin-top: 24px;
}
.accordion__button {
  height: 24px;
  width: 24px;
  cursor: pointer;
  position: relative;
}
.accordion__button.empty {
  cursor: default;
}
.accordion__button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  display: block;
  background-image: url("../images/icons/Keyboard arrow right.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.accordion-header {
  background-color: #fff;
  text-align: left;
  padding: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  color: #000000;
  transition: all ease 0.4s;
}
.accordion-header .accordion__button {
  transition: all ease 0.4s;
}
.accordion-header.active {
  color: #005bfe;
}
.accordion-header.active .accordion__button {
  transform: rotate(180deg);
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: max-height 0.2s ease-out;
}
.accordion-content .accordion__info-content {
  padding: 24px 0;
  margin: 0 24px;
}
.accordion__info-content {
  border-top: 1px solid rgba(0, 0, 0, 0.0509803922);
}
.accordion__content-wrapper {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  color: rgba(0, 0, 0, 0.3137254902);
}
.accordion-message {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  color: rgba(0, 0, 0, 0.3137254902);
  transform: translate(-50%, -50%);
}
.accordion__content-wrapper p span {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  color: #000000;
  padding-left: 10px;
  white-space: nowrap;
}
.accordion__content-wrapper p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.accordion__edit-button {
  margin-left: 24px;
  cursor: pointer;
}
.accordion__delete-button {
  margin-left: 10px;
  cursor: pointer;
}
.accordion__edit-button, .accordion__edit-button rect {
  transition: all ease 0.3s;
}
.accordion__edit-button:hover rect {
  opacity: 1;
  stroke: transparent;
  fill: #005bfe;
}
.accordion__edit-button:hover g path {
  fill: white;
  opacity: 1;
}
.accordion__delete-button:hover rect {
  fill: #ea3d2f;
  opacity: 1;
  stroke: #ea3d2f;
}
.accordion__delete-button:hover g path {
  fill: #fff;
  opacity: 1;
}

.aside__categories-list--wrapper::-webkit-scrollbar,
.accordion__container::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

.aside__categories-list--wrapper::-webkit-scrollbar-thumb,
.accordion__container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.aside__categories-list--wrapper::-webkit-scrollbar-thumb:hover,
.accordion__container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.aside__categories-list--wrapper::-webkit-scrollbar-track,
.accordion__container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .aside {
    width: 100%;
  }
  .aside::before {
    display: none;
  }
  .accordion__content-wrapper p {
    flex-direction: column;
    padding-right: 10px;
  }
  .accordion__content-wrapper p span {
    margin-top: 16px;
    padding-left: 0;
  }
  .accordion__edit-button {
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  .header .container {
    flex-direction: column;
    align-items: flex-end;
  }
  .header__button-contacts--wrapper {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */