/** @format */

// @import "libs";
@import 'global';
@import 'fonts';
@import 'variables';

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  margin-bottom: 56px;
}
.header {
  background-color: #fff;
  box-shadow: 0px 4px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button-contacts--wrapper,
  &__person-wrapper {
    display: flex;
    align-items: center;
  }
  &__button-contacts--wrapper svg path {
    transition: all ease-in-out 0.6s;
  }
  &__button-contacts--wrapper:hover .header__button-contacts--text {
    color: #0047c6;
  }
  &__button-contacts--wrapper:hover svg path {
    fill: #0047c6;
  }
  &__button-contacts--text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    color: #005bfe;
    margin-left: 16px;
    transition: all ease-in-out 0.6s;
  }
  &__person-wrapper .button.red__button {
    margin-right: 16px;
  }
}

.aside {
  width: 312px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all ease-in-out 0.6s;
  z-index: 200;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__wrapper {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 24px 24px;
    border-bottom: 1px solid #0000000d;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #000;
  }
  &__close-button svg {
    transition: all ease-in-out 0.6s;
  }
  &__close-button:hover svg g rect {
    fill: #000;
    fill-opacity: 0.05;
  }
  &__categories-list--wrapper,
  &__user-form {
    flex: 1 0 auto;
    padding: 23px 24px 24px;
  }
  &__categories-list--wrapper{
    height: calc(100vh - 200px);
    overflow-y: auto;
  }
  &__buttons-wrapper {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 23px 24px 24px;
  }
  &__category-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__category-inner:last-child {
    margin-bottom: 0;
  }
  &__category-delete {
    cursor: pointer;
    transform: scale(1.18);
  }
  &__category-delete:hover rect {
    fill: #ea3d2f;
    opacity: 1;
    stroke: #ea3d2f;
  }
  &__category-delete:hover g path {
    fill: #fff;
    opacity: 1;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 16px;
  }
  &__input {
    outline: none;
    border: none;
    padding: 11px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    color: #000;
    border-radius: 6px;
    background-color: #0000000d;
  }
  &__input:focus{
    outline: none;
    box-shadow: 0px 0px 3px #7e9bbd;
  }
  &__select {
    outline: none;
    border: none;
    padding: 11px 35px 12px 11px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    color: #00000050;
    border-radius: 6px;
    background-color: #0000000d;
    max-width: 100%;
    width: 100%;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
  }
  &__select::-ms-expand {
    display: none;
  } 
  &__select:focus{
    outline: none;
    box-shadow: 0px 0px 3px #7e9bbd;
  }
  

  &__select-wrapper{
    position: relative;
  }
  &__select-wrapper::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    height: 24px;
    width: 24px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    background-image: url('../images/icons/Keyboard\ arrow\ right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__input::placeholder {
    color: #00000050;
  }
  &__category-message {
    background-color: transparent;
    text-align: center;
  }
  &__category-name {
    display: block;
    width: 100%;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    color: #000;
    padding: 11px 12px;
    background-color: #0000000d;
    border-radius: 6px;
    height: 38px;
    outline: none;
    border: none;
  }
  &__category-name::placeholder {
    color: #00000050;
  }
}

.accordion {
  width: 100%;
  border-radius: 6px;
  &__container{
    margin-top: 126px;
    height: calc(100vh - 200px);
    overflow-y: auto;
  }
  &-item + .accordion-item {
    margin-top: 24px;
  }
  &__button {
    height: 24px;
    width: 24px;
    cursor: pointer;
    position: relative;
  }
  &__button.empty {
    cursor: default;
  }
  &__button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    display: block;
    background-image: url('../images/icons/Keyboard\ arrow\ right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-header {
    background-color: #fff;
    text-align: left;
    padding: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    color: #000000;
    transition: all ease 0.4s;
  }
  &-header .accordion__button {
    transition: all ease 0.4s;
  }
  &-header.active {
    color: #005bfe;
  }
  &-header.active .accordion__button {
    transform: rotate(180deg);
  }
  &-content {
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: max-height 0.2s ease-out;
  }
  &-content .accordion__info-content {
    padding: 24px 0;
    margin: 0 24px;
  }
  &__info-content {
    border-top: 1px solid #0000000d;
  }
  &__content-wrapper {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
    color: #00000050;
  }
  &-message{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
    color: #00000050;
    transform: translate(-50%, -50%);
  }
  &__content-wrapper p span {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.16;
    color: #000000;
    padding-left: 10px;
    white-space: nowrap;
  }
  &__content-wrapper p {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__edit-button {
    margin-left: 24px;
    cursor: pointer;
  }
  &__delete-button {
    margin-left: 10px;
    cursor: pointer;
  }
  &__edit-button,
  &__edit-button rect {
    transition: all ease 0.3s;
  }
  &__edit-button:hover rect {
    opacity: 1;
    stroke: transparent;
    fill: #005bfe;
  }
  &__edit-button:hover g path {
    fill: white;
    opacity: 1;
  }
  &__delete-button:hover rect {
    fill: #ea3d2f;
    opacity: 1;
    stroke: #ea3d2f;
  }
  &__delete-button:hover g path {
    fill: #fff;
    opacity: 1;
  }
}


.aside__categories-list--wrapper::-webkit-scrollbar,
.accordion__container::-webkit-scrollbar {
  width: 6px; 
  height: 12px; 
}

.aside__categories-list--wrapper::-webkit-scrollbar-thumb,
.accordion__container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px; 
}
.aside__categories-list--wrapper::-webkit-scrollbar-thumb:hover,
.accordion__container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.aside__categories-list--wrapper::-webkit-scrollbar-track,
.accordion__container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
  border-radius: 3px;
}


@import 'media';